In [ ]:
1. Write a Python program to convert kilometers to miles?

In [2]:
a = int(input('enter distance in kilometer'))

b = (a*1000)/3600

print('distance in miles is ', b)

enter distance in kilometer44
distance in miles is  12.222222222222221

In [ ]:
Write a Python program to convert Celsius to Fahrenheit?

In [3]:
a=  float(input("Temperature value in degree Celsius: " ))

Fahrenheit = (a * 1.8) + 32  

print('temperature value in fahrenheit ', Fahrenheit)

Temperature value in degree Celsius: 45
temperature value in fahrenheit  113.0

In [ ]:
Write a Python program to display calendar?

In [4]:
import calendar

year = int(input('enter year :'))

month = int(input('enter month :'))

print(calendar.month(year , month))

enter year :2022
enter month :4
     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [1]:
import calendar

year = int (input(' enter year :'))


print(calendar.calendar(year))

 enter year :2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
Write a Python program to solve quadratic equation?

In [5]:
import math

a= float(input('a :'))
b= float(input('b :'))
c= float(input('c :'))

d= b**2 - 4*a*c


if d >0:
    
    x1= ( -b + math.sqrt(d) )/2*a
    x2= (-b - math.sqrt(d))/2*a
    
    
    print ('there are 2 roots :', x1 ,    x2)
    
    
elif d== 0:
    
    x3 = (-b)/2*a
    print(' there is 1 root:', x3)
    
    
else :
    
    print('there are no roots')

a :3
b :22
c :2
there are 2 roots : -0.8285841157091767 -65.17141588429082

In [ ]:
Write a Python program to swap two variables without temp variable?

In [8]:
a = int(input('enter first number a :'))
b= int(input ('enter second number b :'))

a = a+b
b= a-b
a= a-b

print('after swapping')
print ('value of a is :' , a)
print('value of b is :', b)

enter first number a :5
enter second number b :6
after swapping
value of a is : 6
value of b is : 5